---
import Layaout from "../layouts/Layout.astro";
---

<Layaout>
  <section class=" flex-col max-w-lg mx-auto justify-center mt-12 h-dvh">
    
      <h2 class="text-2xl text-center font-bold">
        Menú de GPCafé
      </h2>
          <div class="mt-6 w-full gap-4">
            <ul class="grid grid-cols-2 ">
              <li>Café Americano</li>
              <li>Espresso</li>
              <li>Cappuccino</li>
              <li>Latte</li>
              <li>Mocha</li>
              <li>Macchiato</li>
              <li>Flat White</li>
              <li>Café Frappé</li>
            </ul>
          </div>

    
  </section>
  </Layaout>

