---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<section id="container w-full">
    <div class="header max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between">
        <div class="logo-container ">
            <a href="/src/pages/Welcome.astro" aria-label="GPCafé Home">
                <img src="/logo.png" alt="logo GPCafé" class="logo" />
            </a>
        </div>
        <div class="menu">
            <nav>
                <ul class="list-none">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<style>
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 100px;
    background-color: #56161D;
}
.logo {
    height: 90px;
    object-fit: contain;
}
li{
    display: inline;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
a {
    color: #FFFBF0;
}
</style>
