---
import Welcome from "../components/Welcome.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>GPCafé</title>
	</head>
	<body>
		<Welcome/>
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";
	html,
	body {
		background-color: #FFFBF0;
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.text {
		color: #FFFBF0;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

</style>
